$logo-height: 35px;
$color-background-section: #f6f6f6;
$border-radius-menu: 25px;

.container-header {
  height: 130px;
  display: flex;
  flex-direction: column;
}

.container-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  box-shadow: 0 2px 4px darkgray;
  z-index: 1;
}

.container-header__logo img {
  height: $logo-height;
  padding: 20px 0 10px 0;
}

.container-header__logo h1 {
  font-size: 22px;
  font-family: 'Shrikhand', sans-serif;
  font-weight: bold;
}

.container-header__location {
  height: calc(100% - 75px);
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: darkslategrey;
}

.container-header__location p {
  font-weight: 500;
  font-size: 18px;
  padding-left: 15px;
}

.container-header__location i {
  font-size: 18px;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accroche {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: $color-background-section;
}

.accroche h2 {
  font-weight: 800;
  font-size: 30px;
  color: black;
  padding: 25px 70px;
  margin-bottom: 0;
}

.accroche p {
  font-weight: 300;
  padding: 0 40px;
  font-size: 22px;
  color: gray;
  margin: 0;
}

.accroche__button-explore {
  margin: 40px 0 60px 0;
  padding: 0;
  border-radius: 50px;
  border: none;
  height: 70px;
  width: 280px;
  cursor: pointer;
  background: rgb(147,86,220);
  background: linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  box-shadow: 0 2px 10px darkgray;
  filter: brightness(100%);
  transition: box-shadow .5s, filter .5s;
}

.accroche__button-explore:hover {
  box-shadow: 0 2px 10px gray;
  filter: brightness(105%);
}

.accroche__button-explore a {
  margin: 30px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.working {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  width: calc(100% - 60px);
}

.working h2 {
  margin: 0;
  font-size: 30px;
  padding-bottom: 25px;
}

.working__list {
  counter-reset: counter-ol;
  list-style: none;
  padding: 0 18px;
}

.working__list button {
  background-color: #f6f6f6;
  box-shadow: 0 2px 10px lightgray;
  border: none;
  border-radius: 25px;
  padding: 30px 0 30px 15px;
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.working__list li:last-child button {
  background-color: #f5ecff;
}

.working__list span {
  font-weight: 500;
  font-size: 20px;
}

.working__list i {
  position: absolute;
  left: 45px;
  top: 38%;
  font-size: 20px;
  color: darkslategray;
}

.working__list li:last-child i {
  color: #9356DC
}

.working__list li {
  counter-increment: counter-ol;
  position: relative;
  width: 100%;
}

.working__list li::before {
  position: absolute;
  content: counter(counter-ol);
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: rgba(147,86,220,1);
  border-radius: 50%;
  text-align: center;
  left: -15px;
  z-index: 1;
  line-height: 210%;
  width: 34px;
  height: 34px;
  top: 35%;
}

.menues {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  background-color: $color-background-section;
}

.menues h2 {
  margin: 0;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.menu__link {
  text-decoration: none;
  border-radius: $border-radius-menu;
  background-color: white;
  box-shadow: 0 2px 10px lightgray;
  margin-bottom: 30px;
  position: relative;
}

.menu__link figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.menu__link figure img {
  border-top-left-radius: $border-radius-menu;
  border-top-right-radius: $border-radius-menu;
  object-fit: cover;
  height: 200px;
}

.menu__link figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: black;
}

.menu__link figure h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 18px 0 0 0;
}

.menu__link figure p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
}

.menu__link figure i {
  margin-right: 10px;
  font-size: 30px;
  background-image: linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__link:last-child {
  margin-bottom: 80px;
}

.menu__link span {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #98e1cf;
  color: #007f5e;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: 500;
}
