.food {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
  }

  &__header section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: last baseline;
    width: 100%;
  }

  &__header a {
    color: black;
  }

  &__header i {
    font-size: 30px;
    margin-right: 40px;
  }

  &__header img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }

  &__header h1 {
    font-size: 36px;
    font-family: 'Shrikhand', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    margin-right: 25%;
  }
}
