.food {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: -51px;
    padding: 40px 30px;
    z-index: 10;
    position: relative;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: $color-background-dark2;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0 0 -10px;
      font-family: Shrikhand, sans-serif;
      font-weight: 500;
      font-size: 34px;
    }

    i {
      font-size: 30px;
      margin-right: 15px;
    }
  }

  &__title-menu {
    font-weight: 300;
    font-size: 20px;
    position: relative;
    margin-bottom: 25px;
    margin-top: 50px;

    &::before {
      content: '';
      position: absolute;
      width: 12%;
      height: 4px;
      background-color: #97e1ce;
      top: calc(100% + 5px);
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    height: 50px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 10px lightgray;

    article {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    h3, p {
      margin: 0;
    }

    i {
      visibility: hidden;
      display: none;
    }

    div {
      display: flex;
      justify-content: space-between;

      p:nth-child(2) {
        font-weight: 600;
      }
    }
  }

  &__command {
    margin: 40px auto 60px auto;
    width: 250px;
  }
}
