// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-tertiary-dark: #007f5e;

$color-background-dark: #97e1ce;
$color-background-dark2: #f3f3f3;
$color-background-section: #f6f6f6;

$logo-height: 35px;
$border-radius-menu: 25px;

// Limit of the global width
$max-width: 1500px;

// Class variables
$heart-animations-class: fa-heart;
$btn-animation-class: btn-primary;
$food-card-animation: food__card;
$food-container-animation: food__container;
$loading-animation: loader;

// Time variables
$loader-timeout: 2450;
$loader-letter-fade-timer: 400;
