@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  padding: 0;
  border-radius: 50px;
  border: none;
  height: 70px;
  cursor: pointer;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 2px 10px darkgray;
  filter: brightness(100%);
  transition: box-shadow 0.5s, filter 0.5s;
}
.btn-primary:hover {
  box-shadow: 0 2px 10px gray;
  filter: brightness(105%);
}
.btn-primary span {
  margin: 30px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

footer {
  background-color: #383838;
  color: white;
  padding: 40px 30px;
}
footer h1 {
  margin-top: 0;
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
}
footer ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
footer ul li {
  display: flex;
  align-items: center;
  font-weight: 500;
}
footer ul i {
  width: 30px;
}
footer ul p {
  margin: 5px 0;
}

@media all and (min-width: 768px) {
  footer h1 {
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
.food__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.food__header section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}
.food__header a {
  color: black;
}
.food__header i {
  font-size: 30px;
  margin-right: 40px;
}
.food__header img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.food__header h2 {
  font-size: 35px;
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  margin-bottom: 12px;
  margin-right: 25%;
}

.container-header {
  height: 130px;
  display: flex;
  flex-direction: column;
}
.container-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  box-shadow: 0 2px 4px darkgray;
  z-index: 1;
}
.container-header__logo img {
  height: 35px;
  padding: 20px 0 10px 0;
}
.container-header__logo h1 {
  font-size: 36px;
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}
.container-header__location {
  height: calc(100% - 75px);
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: darkslategrey;
}
.container-header__location p {
  font-weight: 500;
  font-size: 18px;
  padding-left: 15px;
}
.container-header__location i {
  font-size: 18px;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accroche {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
.accroche h2 {
  font-weight: 800;
  font-size: 30px;
  color: black;
  padding: 25px 70px;
  margin-bottom: 0;
}
.accroche p {
  font-weight: 300;
  padding: 0 40px;
  font-size: 22px;
  color: gray;
  margin: 0;
}
.accroche button {
  margin: 40px 0 60px 0;
  width: 280px;
}

.working {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  width: calc(100% - 60px);
}
.working h2 {
  margin: 0;
  font-size: 30px;
  padding-bottom: 25px;
}
.working ol {
  counter-reset: counter-ol;
  list-style: none;
  padding: 0 18px;
}
.working ol button {
  background-color: #f6f6f6;
  box-shadow: 0 2px 10px #c8c8c8;
  border: none;
  border-radius: 25px;
  padding: 30px 15% 30px 13%;
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.working ol li {
  counter-increment: counter-ol;
  position: relative;
  width: 100%;
}
.working ol li:last-child button {
  background-color: #f5ecff;
}
.working ol li:last-child i {
  color: #9356DC;
}
.working ol li::before {
  position: absolute;
  content: counter(counter-ol);
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #9356DC;
  border-radius: 50%;
  text-align: center;
  left: -15px;
  z-index: 1;
  line-height: 210%;
  width: 34px;
  height: 34px;
  top: 35%;
}
.working ol span {
  font-weight: 500;
  font-size: 20px;
}
.working ol i {
  font-size: 20px;
  color: darkslategray;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  background-color: #f6f6f6;
}
.menu section {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
.menu h2 {
  margin: 0;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.menu__link {
  text-decoration: none;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 2px 10px lightgray;
  margin-bottom: 30px;
  position: relative;
}
.menu__link:last-child {
  margin-bottom: 80px;
}
.menu__link span {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #99E2D0;
  color: #007f5e;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: 500;
}
.menu__link figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.menu__link figure img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  height: 200px;
}
.menu__link figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: black;
}
.menu__link figure h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 18px 0 0 0;
}
.menu__link figure p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
}
.menu__link figure i {
  margin-right: 10px;
  font-size: 30px;
  background-image: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (min-width: 768px) {
  .working {
    align-items: center;
  }
  .working h2 {
    width: 100%;
  }
  .working ol {
    width: 60%;
  }
}
.food__container {
  display: flex;
  flex-direction: column;
  margin-top: -51px;
  padding: 40px 30px;
  z-index: 10;
  position: relative;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #f3f3f3;
}
.food__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.food__title h2 {
  margin: 0 0 -10px;
  font-family: Shrikhand, sans-serif;
  font-weight: 500;
  font-size: 34px;
}
.food__title i {
  font-size: 30px;
  margin-right: 15px;
}
.food__title-menu {
  font-weight: 300;
  font-size: 20px;
  position: relative;
  margin-bottom: 25px;
  margin-top: 50px;
}
.food__title-menu::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #97e1ce;
  top: calc(100% + 5px);
  left: 0;
  transform: translateY(-50%);
}
.food__card {
  display: flex;
  flex-direction: row;
  height: 50px;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 10px lightgray;
}
.food__card article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
}
.food__card h3, .food__card p {
  margin: 0;
}
.food__card i {
  visibility: hidden;
  display: none;
}
.food__card div {
  display: flex;
  justify-content: space-between;
}
.food__card div p:nth-child(2) {
  font-weight: 600;
}
.food__command {
  margin: 40px auto 60px auto;
  width: 250px;
}
@media all and (min-width: 1024px) {
  .food__card {
    width: calc(30% - 10px);
  }
  .food__menus-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
